@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.left-sidebar {
  border-color: #e7eaee;
  padding: 40px 30px;
}

.top-nav {
  background-color: #f8f9fa;
}

.top-nav .right-side {
  gap: 30px;
}

.sidebar-item svg {
  width: 24px;
  height: 24px;
}

.sidebar-item {
  padding: 12px;
  border-radius: 16px;
  width: 48px;
  height: 48px;
}

.sidebar-item.selected {
  background-color: #003fad;

  path {
    stroke: white;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cccccc #f0f0f0; /* Thumb and track colors for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
  border: 2px solid #f0f0f0; /* Border for the thumb */
}
